@font-face{
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face{
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: lighter;
}
@font-face{
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: bold;
}